<nav class="navbar navbar-expand-lg navbar-light bgcolor bold-text">
  <a class="navbar-brand" routerLink="/admin/home">Technicon</a>
  <button class="navbar-toggler" (click)="toggleMenu()" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-center" [ngClass]="{'show': showMenu}" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/home">Home</a>
      </li>
      <li class="nav-item dropdown"
          (mouseenter)="showDropdown1 = true" (mouseleave)="showDropdown1 = false">
        <a class="nav-link" routerLink="/admin/owners_properties">Owners & Properties</a>
        <div class="dropdown-menu" [class.show]="showDropdown1">
          <a class="dropdown-item" routerLink="/admin/owners_properties/create-owner">Register user</a>
          <a class="dropdown-item" routerLink="/admin/owners_properties/edit-owner">Edit user</a>
          <a class="dropdown-item" routerLink="/admin/owners_properties/search-owner">Search user</a>
          <a class="dropdown-item" routerLink="/admin/owners_properties/create-property">Register property</a>
          <a class="dropdown-item" routerLink="/admin/owners_properties/edit-property">Edit property</a>
          <a class="dropdown-item" routerLink="/admin/owners_properties/search-property">Search property</a>
        </div>
      </li>
      <li class="nav-item dropdown"
          (mouseenter)="showDropdown2 = true" (mouseleave)="showDropdown2 = false">
        <a class="nav-link" routerLink="/admin/repairs">Repairs</a>
        <div class="dropdown-menu" [class.show]="showDropdown2">
          <a class="dropdown-item" routerLink="/admin/repairs/create-repair">Create repair</a>
          <a class="dropdown-item" routerLink="/admin/repairs/search-repair">Search repair</a>
          <a class="dropdown-item" routerLink="/admin/repairs/edit-repair">Edit repair</a>
        </div>
      </li>
    </ul>
    <button class="btn btn-danger" (click)="signOut()">Sign Out</button>
  </div>
</nav>
