<user-header></user-header>
<div class="container">
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Address</th>
            <th>Type</th>
            <th>Construction year</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let p of properties">
              <tr>
                <th scope="row">1</th>
                <td>{{p.propertyId}} </td>
                <td>{{p.propertyAddress}} </td>
                <td>{{p.propertyType}} </td>
                <td>{{p.yearOfConstruction}} </td>
                <td><button class="btn btn-danger" (click)="deleteProperty([p.propertyId, p.ownerVatNumber])">Delete</button></td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
