<admin-header></admin-header>
<div class="container">
  <div class="container">
    <div class="form-group">
      <input type="text" class="form-control" [(ngModel)]="searchQuery" placeholder="Search by email or vat number...">
      <button class="btn btn-primary" (click)="search()">Search</button>
    </div>
  </div>
<div class="container" *ngIf="filteredResponse">
  <div *ngFor="let item of filteredResponse">
    <form>
      <div class="form-group">
          <label for="vatNumber">Vat Number</label>
          <input type="text" class="form-control" id="vatNumber" [(ngModel)]="item.vatNumber" name="vatNumber" placeholder="Vat Number" />
      </div>
      <div class="form-group">
          <label for="name">Name</label>
          <input type="text" class="form-control" id="name" [(ngModel)]="item.name" name="name" placeholder="Name" />
      </div>
      <div class="form-group">
          <label for="surname">Surname</label>
          <input type="text" class="form-control" id="surname" [(ngModel)]="item.surname" name="surname" placeholder="Surname" />
      </div>
      <div class="form-group">
          <label for="username">Username <small class="text-muted">(editable)</small></label>
          <input type="text" class="form-control" id="username" [(ngModel)]="item.username" name="username" placeholder="Username" />
      </div>
      <div class="form-group">
          <label for="password">Password <small class="text-muted">(editable)</small></label>
          <input type="password" class="form-control" id="password" [(ngModel)]="item.password" name="password" placeholder="Password" />
      </div>
      <div class="form-group">
          <label for="phoneNumber">Phone Number</label>
          <input type="text" class="form-control" id="phoneNumber" [(ngModel)]="item.phoneNumber" name="phoneNumber" placeholder="Phone Number" />
      </div>
      <div class="form-group">
          <label for="address">Address</label>
          <input type="text" class="form-control" id="address" [(ngModel)]="item.address" name="address" placeholder="Address" />
      </div>
      <div class="form-group">
          <label for="email">Email <small class="text-muted">(editable)</small></label>
          <input type="email" class="form-control" id="email" [(ngModel)]="item.email" name="email" placeholder="Email" />
      </div>
      <button class="btn btn-primary" (click)="updateItem(item)">Save</button>
      <button class="btn btn-danger" (click)="deleteUser(item)">Delete</button>
    </form>
  </div>
</div>
