<user-header></user-header>
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome {{user.name}}</h1>
    <hr class="my-4">
    <h2 class="display-6"> Your repairs</h2>
  </div>
  <div class="row">
    <div class="col-md-4">
      <table class="table">
        <thead>
          <tr>
            <th>Index</th>
            <th>Id</th>
            <th>Property Id</th>
            <th>Type</th>
            <th>Description</th>
            <th>Status</th>
            <th>Cost</th>
            <th>Actual Dates</th>
            <th>Proposed Dates</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngFor="let r of repairs">
              <tr>
                <th scope="row">1</th>
                <td>{{r.repairId}} </td>
                <td>{{r.propertyId}} </td>
                <td>{{r.repairType}} </td>
                <td>{{r.shortDescription}} </td>
                <td>{{r.status}} </td>
                <td>{{r.proposedCost}} </td>
                <td>{{r.actualStartDate}} - {{r.actualEndDate}}</td>
                <td>{{r.proposedStartDate}} - {{r.proposedEndDate}}</td>
              </tr>
          </ng-container>
        </tbody>
      </table>
    </div>
  </div>
</div>
