<user-header></user-header>
<div class="container">
  <div class="jumbotron text-center">
    <h1 class="display-4">Welcome to Technicon Renovations</h1>
    <p class="lead">This is the home page of user.</p>
    <hr class="my-4">
    <p>It uses Angular and Bootstrap to create a responsive and user-friendly interface.</p>
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </div>
  <div class="row">
    <div class="col-md-4">
      <h2>User details</h2>
      <p>*ngIf="user"> {{response.data | json}} </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
    <div class="col-md-4">
      <h2>Properties</h2>
      <p *ngIf="response"> {{response.data | json}} </p>
    </div>
    <div class="col-md-4">
      <h2>Heading</h2>
      <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui. </p>
      <p><a class="btn btn-secondary" href="#" role="button">View details »</a></p>
    </div>
  </div>
</div>
