<admin-header></admin-header>
<div class="container">
  <div class="row border border-dark rounded-2">
    <div class="col-md-12">
      <h1>Register a property</h1>
      <form method="post" [formGroup]="propertyRegisterForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="propertyId">PropertyId</label><span class="text-danger">*</span>
          <input formControlName="propertyId" type="text" class="form-control" id="propertyId" aria-describedby="propertyIdHelp"
            placeholder="Enter propertyId" />
            <div *ngIf="propertyRegisterForm.get('propertyId')?.invalid && propertyRegisterForm.get('propertyId')?.touched" class="text-danger">
              <div *ngIf="propertyRegisterForm.get('propertyId')?.errors">
                Property Id is required
              </div>
            </div>
        </div>
        <div class="form-group">
          <label for="propertyAddress">Address</label><span class="text-danger">*</span>
          <input formControlName="propertyAddress" type="text" class="form-control" id="propertyAddress" placeholder="propertyAddress" />
          <div *ngIf="propertyRegisterForm.get('propertyAddress')?.invalid && propertyRegisterForm.get('propertyAddress')?.touched" class="text-danger">
            <div *ngIf="propertyRegisterForm.get('propertyAddress')?.errors">
              Property Address is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="yearOfConstruction">Construction year</label><span class="text-danger">*</span>
          <input formControlName="yearOfConstruction" type="text" class="form-control" id="yearOfConstruction" placeholder="yearOfConstruction" />
          <div *ngIf="propertyRegisterForm.get('yearOfConstruction')?.invalid && propertyRegisterForm.get('yearOfConstruction')?.touched" class="text-danger">
            <div *ngIf="propertyRegisterForm.get('yearOfConstruction')?.errors">
              Construction year is required
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="propertyType">Type</label>
          <div class="form-check" *ngFor="let option of propertyTypeOptions">
            <input class="form-check-input" type="radio" name="propertyType" formControlName="propertyType" [value]="option.value">
            <label class="form-check-label">{{ option.label }}</label><span class="text-danger">*</span>
            <div *ngIf="propertyRegisterForm.get('propertyType')?.invalid && propertyRegisterForm.get('propertyType')?.touched" class="text-danger">
              <div *ngIf="propertyRegisterForm.get('propertyType')?.errors">
                Type is required
              </div>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="ownerVatNumber">Owner Vat Number</label><span class="text-danger">*</span>
          <input formControlName="ownerVatNumber" type="text" class="form-control" id="ownerVatNumber" placeholder="vatNumber" />
          <div *ngIf="propertyRegisterForm.get('ownerVatNumber')?.invalid && propertyRegisterForm.get('ownerVatNumber')?.touched" class="text-danger">
            <div *ngIf="propertyRegisterForm.get('ownerVatNumber')?.errors">
              Vat Number is required
            </div>
          </div>
        </div>
        <div class="form-group mt-1">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
